$dash_green : #02d5d1;
$dash_blue: #1a73e8;
$dash_dark_green :#2e9900;
$dash_red:  rgb(243, 3, 3);

.quill {
    .ql-container{
        min-height: 200px;
    }
}

.graph-text-label{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 1rem;
    h6{
        margin: 0;
    }
    .icon{
        color: $dash_green;
    }
}

.crud-submit-btns{
   background-color: $dash_blue;
}

.add-btn-green {
   color: $dash_dark_green !important;
    
}
.border-card{
    border: 1px solid $dash_dark_green;
    border-radius: 10px;
    padding: 15px;
    transform: translateX(0.7rem);
    margin: 15px auto;
}
.red-btn-color{
    color: $dash_red !important;
    margin-top: 10px;
}

// Products
.product-table{
    img{
        max-width: 80px;
        max-height: 150px;
    }
    .product-name{
        &:hover{
            text-decoration: underline;
        }
    }
    tbody tr{
        &:hover{
            background-color: #1a73e850;
            cursor: pointer;
        }
        .edit-btn{
            color: $dash_dark_green;
        }
        .delete-btn{
            color: red;
            margin-left: 10px;
        }
    }
}

.table-modal{

    // overflow-y: scroll;

    img{
        max-width: 100px;
        max-height: 150px;
    }
    .container{
        outline: none;
        border: none;
    }
    .label{
        font-size: 14px;
        font-weight: 600;
    }
    p{
        font-size: 12px;
    }
}