@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

.heading-styled {
  font-family: "Geologica", sans-serif !important;
  font-weight: 600 !important;
  font-size: 2.5rem !important;
  text-align: center;
  margin: 20px 0px !important;
}

.main-header {
  background: pink;
}
@media (max-width: 950px) {
  .main-header .main-toolbar .m-search-cat {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .main-header .main-toolbar .m-search-cat .select-category {
    width: 20%;
    margin-left: 0px;
  }
  .main-header .main-toolbar .m-search-cat .search-field {
    width: 80%;
  }
}
.main-header .main-toolbar .m-auth-btns {
  display: flex;
  margin-top: 5px;
}
.main-header .main-toolbar .m-auth-btns .m-login-btn {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: #2ecc71;
  border-radius: 50%;
  color: white;
}
.main-header .main-toolbar .m-auth-btns .m-signup-btn {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  color: black;
  margin-left: 1rem;
}
@media (max-width: 950px) {
  .main-header .main-toolbar .m-logo-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 950px) {
  .main-header .main-toolbar {
    display: flex;
    flex-direction: column;
  }
}
.main-header .select-category {
  width: 15%;
  margin: 15px 0px 15px 30px;
}
@media (max-width: 1050px) and (min-width: 950px) {
  .main-header .select-category {
    width: 13%;
  }
}
.main-header .search-field {
  margin: 15px 0px 15px 15px;
  width: 50%;
}
@media (max-width: 1316px) and (min-width: 1250px) {
  .main-header .search-field {
    width: 48%;
  }
}
@media (max-width: 1250px) and (min-width: 1050px) {
  .main-header .search-field {
    width: 40%;
  }
}
@media (max-width: 1050px) and (min-width: 950px) {
  .main-header .search-field {
    width: 38%;
  }
}
.main-header .auth-btns {
  margin-left: auto;
}
.main-header .auth-btns .login-btn {
  padding: 10px 20px;
  background-color: #2ecc71;
  border-radius: 30px;
  color: white;
}
.main-header .auth-btns .signup-btn {
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  color: black;
  margin-left: 1rem;
}
.main-header img {
  max-width: 150px;
}

.text__label {
  color: #2ecc71 !important;
}

.crousal-item {
  min-width: 100%;
}

.css-1m9128y {
  display: none;
}

.crousal-item-category {
  max-width: 100%;
  margin: auto;
}
.crousal-item-category .carousel-slider {
  padding-bottom: 11px;
}
.crousal-item-category .control-dots {
  position: absolute;
  bottom: -11px;
}
.crousal-item-category .control-dots .dot {
  background-color: #2ecc71;
}
@media (min-width: 1050px) {
  .crousal-item-category {
    max-width: 80%;
  }
}
.crousal-item-category button {
  height: 40px;
  width: 40px;
  background: black !important;
  border-radius: 50%;
  transform: translateY(300%);
  margin: 20px;
}
.crousal-item-category .category-card {
  margin: 10px;
}
.crousal-item-category .category-card .card-media {
  max-height: 300px;
}
.crousal-item-category .category-card .title {
  font-weight: 700;
  padding: 15px;
  font-family: "Raleway", sans-serif;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 14px;
  /* Mobile styles */
}
@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row on tablet */
  }
}
@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row on mobile */
  }
}
.products-grid .product-card {
  max-width: 300px;
  margin: 0px 7px;
  position: relative;
}
.products-grid .product-card .discount {
  background: #2ecc71;
  color: white;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  position: absolute;
  padding: 5px;
  right: 0;
  border-bottom-left-radius: 12px;
}
.products-grid .product-card img {
  max-height: 250px;
}
.products-grid .product-card .description {
  padding: 10px;
}
.products-grid .product-card .description .category {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.768627451);
}
.products-grid .product-card .description .title {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.products-grid .product-card .description .price-now {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: auto 0px;
  color: #2ecc71;
}
.products-grid .product-card .description .price-before {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.768627451);
  text-decoration: line-through;
  margin: auto 5px;
}
.products-grid .product-card .description .icon-box {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.products-grid .product-card .description .icon-box .add-icon {
  color: #2ecc71;
}
.products-grid .product-card .description .icon-box .add-to-cart,
.products-grid .product-card .description .icon-box .add-icon {
  display: none;
  opacity: 1;
}
.products-grid .product-card .description .icon-box .add-to-cart {
  font-size: 12.5px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.products-grid .product-card .description .icon-box:hover {
  gap: 5px;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  margin: auto 0px;
  padding: 5px 10px;
  border-radius: 20px;
}
.products-grid .product-card .description .icon-box:hover .cart-icon {
  display: none;
  opacity: 0;
}
.products-grid .product-card .description .icon-box:hover .add-to-cart,
.products-grid .product-card .description .icon-box:hover .add-icon {
  display: initial;
}

.load-more {
  margin: auto;
  background-color: #2ecc71 !important;
  color: white !important;
  padding: 10px 15px !important;
}/*# sourceMappingURL=style.css.map */