$theme_white : white;
$theme_blue : #c7ecee;
$theme_green : #2ecc71;
$theme_light_black : #000000c4;
$theme_footer_black :#101010;
$theme_grey_color: #767676;
// Fonts

$secondary_font : 'Raleway',
sans-serif;
$heading_font : 'Geologica',
sans-serif;
$price-font :  'Open Sans', sans-serif;



@mixin common_btn($bg, $color: white) {

    padding: 10px 20px;
    background-color: $bg;
    border-radius: 30px;
    color: $color;

}

@mixin adjust_input_height {
    input {
        padding: 9px 5px;
    }

    label {
        position: absolute;
        top: -5px;
        font-size: 14px;
        color: $theme_green;
    }
}

@mixin m_common_btn($bg, $color: white) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    padding: 10px;
    background-color: $bg;
    border-radius: 50%;

    color: $color;

}

@mixin regular_font() {
    font-weight: 500;
    font-family: $secondary_font;

}